@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "SF-Pro";
    src: url("/fonts/SF-Pro.ttf");
}

i {
    color: #907AD6;
}

.glass {
    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
}

body {
    background-color: #0E1111;
}